p{
    color: red;
}
h3{
    color: green;
    margin-top: 29px; 
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}
.destacadoh1{
    color : red;
    font-style: oblique;
    
}

.destacados{
    color :brown;
    font-size: 21px;
}

#blanco{
    background-color:black;
    width: 250px;
    height: 120px;
}
