p{
    color: red;
}
h3{
    color: green;
    margin-top: 29px; 
}
h1{
    font-family: 'Viaoda Libre', cursive;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    
}
img{
    filter: sepia(58%) blur(2px);
-webkit-filter: sepia(58%) blur(2px);
-moz-filter: sepia(58%) blur(2px);
}
h6{
    color: red;
    font-weight: bold;
    font-size: 20px;
}


.destacados{
    color :brown;
    font-size: 21px;
}

#negro{
    background-color:black;
    width: 250px;
    height: 120px;
}
div{
    margin-left: 10px;
    padding: 20px;
    padding-left: 20px;
    box-sizing: border-box;
    border: 5px dotted pink; 
    height: 730px;
    width: 800px;
    border-radius: 25px;
    /*background: linear-gradient(to left, #f8d3d5, #fcedee);*/
    background: #e60d4c;
    background: radial-gradient(circle farthest-corner at center center, #e60d4c 0%, #d96ad2 40%, #cc59c6 80%);
    background: -webkit-radial-gradient(circle farthest-corner at center center, #e60d4c 0%, #d96ad2 40%, #cc59c6 80%);
    background: -moz-radial-gradient(circle farthest-corner at center center, #e60d4c 0%, #d96ad2 40%, #cc59c6 80%);
    box-shadow: -15px 10px 25px black;
    column-count: 2;
    column-gap: 50px;
    column-rule: 1px solid white;
}

.redes a{
    color: blue;
}